.delete{
  text-decoration-line: line-through;
}
.contents h3{
  font-size:20px;
  font-weight:normal;
  margin:170px 0 50px 0;
}
.p{
  line-height: 1.5;
  margin-bottom:530px;
}

@media(max-width:480px){

  .contents h3{
    margin:150px 0 25px 0;
  }
  .p{
    line-height: 1.5;
    margin-bottom:80px;
  }
  
  }